<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>vue +localstorage 简易购物车</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	td{
		text-align: center;
	}
	input[type="text"]{
		width:20%;
		text-align: center;
	}
	.count-btn{
		cursor:pointer;
		background:#CCC;
		padding:0 6px;
		margin:0 6px;
		display: inline-block;
		height:20px;
		width:20px;
		line-height: 20px;
		text-align:center;
	}
	</style>
</head>
<body>
<div id="app">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>vue +localstorage 简易购物车</h3>
				<table class="table table-bordered">
					<tr>
						<th><input type="checkbox" v-model="selectedAll" />全选</th>
						<th>商品</th>
						<th>数量</th>
						<th>单价</th>
						<th>小计</th>
						<th>操作</th>
					</tr>
					<tr v-for="item in products">
						<td><input type="checkbox" v-model="item.isSelected" /></td>
						<td>{{ item.title }}</td>
						<td><span class="count-btn" @click="cutProCount(item)">-</span><input type="text" v-model="item.count" /><span class="count-btn" @click="plusProCount(item)">+</span></td>
						<td>{{ item.price }}</td>
						<td>{{ item.count * item.price }}</td>
						<td><button class="btn btn-danger" @click="proDel(item)">删除</button></td>
					</tr>
					<tr>
						<td colspan="3">总计：</td>
						<td colspan="3">{{ total }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
Vue.config.devtools = true;
let vm = new Vue({//实例化Vue对象

	el:"#app",//控制器控制范围
	data:{//数据
		products:JSON.parse(localStorage.getItem("products")) || [
			{ isSelected:false , title:"iphone X" , count:3 , price:5800 },
			{ isSelected:false , title:"iphone SE" , count:1 , price:3800 },
			{ isSelected:false , title:"华为V9青春版" , count:2 , price:1800 },
		]
	},
	watch:{
		products:{//使用watch监控products对象，当products对象发生变化时，将数据存放到浏览器本地
			handler(){//深度监控
				localStorage.setItem("products" , JSON.stringify(this.products));
			} , deep:true
		}
	},
	computed:{
		selectedAll:{//全选
			get(){
				return this.products.every( item => item.isSelected );//检测所有项是否都满足条件，不满足，返回false，反向设置“全选按钮”的状态
			},
			set(val){
				this.products.forEach( item => item.isSelected = val );//循环设置所有项的选择状态
			}
		},
		total(){//总计
			//return this.products.reduce( (result , next) => result + next.count * next.price , 0 );//累加器，result是初始值参数，后面的0是初始值，next是数组对象的每一项，再加上过滤器判断商品是否选中，选中才加入计算
			return this.products.filter( item => item.isSelected ).reduce( (result , next) => result + next.count * next.price , 0 )
		}
	},
	methods:{
		cutProCount(pro){
			if(pro.count>0){
				pro.count--;
			}	
		},
		plusProCount(pro){
			pro.count++;
		},
		proDel(pro){
			this.products = this.products.filter( item => item !== pro );//过滤方法，保留两个满足条件的商品
		}
	}
});
</script>

</body>
</html>