/*初始化样式*/
html {
	font:15px/1.6 "Microsoft Yahei" , sans-serif , Arial, Tahoma , Helvetica , SimSun;
	/* -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; */
	color:#333;
	background:#FCFCFC;
}
body{
	background:#FFF;
}
body,ul{
	margin: 0;
	padding:0;
}
li{
	list-style:none;
}
a{
	color:#555;
	text-decoration:none;
}
a:hover{
	color:#660000;
}
h1,h2,h3,h4,h5,h6{
	color:#333;
	margin:15px 0 10px;
}
h1{
	font-size:23px;
	line-height:23px;
}
h2{
	font-size:21px;
	line-height:21px;
}
h3{
	font-size:19px;
	line-height:19px;
}
h4{
	font-size:17px;
	line-height:17px;
}
h5{
	font-size:15px;
	line-height:15px;
}
h6{
	font-size:13px;
	line-height:13px;
}
