@import url(./css/reset.css);
@import url(./css/public.css);

/*页面*/
.warp{
	width:80%;
	margin:auto;
}

/*头部*/
.logo{
	text-align:center;
}
.menu{
	margin-top:3rem;
	text-align:center;
	border-bottom:1px dashed #CCC;
}

.menu ul{
	text-align:center;
}

.menu ul li{
	display:inline-block;
	margin:0 8px;
	text-align:center;
}

.menu ul  li a{
	padding:5px 8px;
	display:inline-block;
	font-size:18px;

}

/*主体*/
.content{
	float:left;
	width:68%;
}
.post, .page{
	margin-top:2rem;
}
.post-lists{
	margin-top:2rem;
	border-bottom:1px dashed #CCC;
}

.post-text{
	margin-bottom:1rem;
}

.post p{
	text-indent:2rem;
}

.date{
	margin-bottom:1rem;
	border-bottom:1px dashed #CCC;
}
.date span{
	font-size:14px;
	margin-left:0.5rem;
}
.sidebar{
	width:26%;
	float:right;
}
.categories{
	border-bottom:1px dashed #CCC;
	margin-top:2rem;
}
.categories h3{
	text-align:center;
	text-indent:-1rem;
}
.categories li{
	float:left;
}
.categories li a{
	display:inline-block;
	padding:5px 8px;
	margin:5px;
	background:#F3F3F3;
	border-radius:5px;
}

/*底部*/
footer{
	text-align:center;
	margin-bottom:1rem;
}

/*返回顶部*/
.go-top{
	position:fixed;
	right:10%;
	bottom:10%;
	visibility:hidden;
	cursor:pointer;
	font-size:28px;
	transition:opacity 1s;
	transform: scale(1,1.2);
	-ms-transform: scale(1,1.2);
	-webkit-transform: scale(1,1.2);
	-moz-transform: scale(1,1.2);
	-o-transform: scale(1,1.2);
}
.go-top::before{
	font-size:2rem;
	transform: scale(1,1.3);
	-ms-transform: scale(1,1.3);
	-webkit-transform: scale(1,1.3);
	-moz-transform: scale(1,1.3);
	-o-transform: scale(1,1.3);
}
.go-top:hover{
	color:#660000;
}

/*代码块*/
pre{
	tab-size:4;
	background:#F3F3F3;
	padding:10px;
	margin:0;
	width:90%;
	margin:0 auto;
}
